<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleDisplayName</key>
	<string>FreeGPGMail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FreeGPGMailExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FreeGPGMailExtension</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>MEExtensionCapabilities</key>
			<array>
				<string>MEComposeSessionHandler</string>
				<string>MEMessageSecurityHandler</string>
			</array>
			<key>MEComposeSessionToolbarIcon</key>
			<string>ToolbarIcon</string>
			<key>NSExtensionServiceToolbarIconFile</key>
			<string>ToolbarIcon</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.email.extension</string>
	</dict>
</dict>
</plist>
